exportPattern("^HDR[.]")
S3method(print,hdr)
importFrom("stats", "dbeta", "dcauchy", "dexp", "df", "dgamma",
           "dlnorm", "dnorm", "dt", "dunif", "dweibull", "nlm",
           "pbinom", "pgeom", "phyper", "pnbinom", "ppois", "qbeta",
           "qbinom", "qexp", "qf", "qgamma", "qgeom", "qhyper",
           "qlnorm", "qnbinom", "qnorm", "qpois", "qt", "qunif",
           "qweibull", "qcauchy", "dchisq", "qchisq")
